# Bundler config (Rails)
/.bundle

# Log and temp files (Rails)
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Credentials key (Rails)
/config/master.key

# Env files
.env
.env*
!/.env*.erb

# macOS特有
.DS_Store

# Node.js系
node_modules/
npm-debug.log*

# Yarn (もし将来使ったら)
/yarn.lock

# Vite系
.vite/

# Coverage
coverage/

# Editor config
.vscode/
.idea/

# Docker一時ファイル
*.pid

# DBダンプ類
*.sqlite3
*.sqlite3-journal
*.pgsql
*.dump

# バイナリ類
*.swp
*.bak
